:root {
    --primary: #3498db;
    --dark: #2980b9;
    --accent: #2c3e50;
    --text: 333;
    --divider: #ecf0f1;
    --font-family: "Mulish", sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --btn-primary: #2ecc71;
    --btn-primary-dark: #27ae60;
    --danger: #e74c3c;
    --btn-danger-dark: #c0392b;
    --hint: #95a5a6;
}